/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #327aa075;
    color: #000000ef;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-family: serif;
  }
  #profile>img{
    height: 100px;
    width: 100px;
    position: relative;
    
    border-radius: 40%;
   
  }
  nav {
    background-color: #157bba;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  main {
    padding: 20px;
    font-family: monospace;
    font-weight: 100;
    font-size: xx-large;
   scroll-padding: 20px;
   color: #000000ea;
   background-color: antiquewhite;

  }
  #page1{
    height: 100vh;
    width: 100vw;
  
  }
  #page1>video{
    height: 100%;
    width: 100%;
   object-fit: cover;
  }
  .register{
    padding: 10px 20px;
    border: 1px solid  floralwhite;
    border-radius: 40px;
    color: #ffff;
    background-color: #5d1df1;
    margin-left: 50%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    

  }
  :hover.register{
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 3px 6px 18px rgba(93, 13, 241,.7);
  }
 

 
  footer {
    background-color: #5b2c2c;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  